<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LOGO.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1740},{624,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,285}}</string>
                <key>sourceSize</key>
                <string>{624,285}</string>
            </dict>
            <key>credits.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,179},{215,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,90}}</string>
                <key>sourceSize</key>
                <string>{215,90}</string>
            </dict>
            <key>fog.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2009},{10,570}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,570}}</string>
                <key>sourceSize</key>
                <string>{10,570}</string>
            </dict>
            <key>gameover_backtomenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,1502},{232,93}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,93}}</string>
                <key>sourceSize</key>
                <string>{234,95}</string>
            </dict>
            <key>gameover_playagain.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1502},{231,93}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{231,93}}</string>
                <key>sourceSize</key>
                <string>{247,95}</string>
            </dict>
            <key>gameover_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,120},{250,57}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{250,57}}</string>
                <key>sourceSize</key>
                <string>{260,61}</string>
            </dict>
            <key>gameover_score_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,1044},{456,334}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,22},{456,334}}</string>
                <key>sourceSize</key>
                <string>{480,374}</string>
            </dict>
            <key>hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,64},{60,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,205}}</string>
                <key>sourceSize</key>
                <string>{60,205}</string>
            </dict>
            <key>hp_above.png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,2},{60,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,205}}</string>
                <key>sourceSize</key>
                <string>{60,205}</string>
            </dict>
            <key>hp_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{116,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,317}}</string>
                <key>sourceSize</key>
                <string>{116,317}</string>
            </dict>
            <key>license.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,1502},{215,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,90}}</string>
                <key>sourceSize</key>
                <string>{215,90}</string>
            </dict>
            <key>loading_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,1040}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,1040}}</string>
                <key>sourceSize</key>
                <string>{720,1040}</string>
            </dict>
            <key>loading_progress_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1044},{694,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{694,72}}</string>
                <key>sourceSize</key>
                <string>{694,72}</string>
            </dict>
            <key>loading_progress_thumb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,126},{136,87}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{136,87}}</string>
                <key>sourceSize</key>
                <string>{136,171}</string>
            </dict>
            <key>mainmenu_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1044},{639,963}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{639,963}}</string>
                <key>sourceSize</key>
                <string>{639,963}</string>
            </dict>
            <key>right_top_ui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,2},{204,325}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,325}}</string>
                <key>sourceSize</key>
                <string>{204,331}</string>
            </dict>
            <key>start_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,1502},{215,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,90}}</string>
                <key>sourceSize</key>
                <string>{215,90}</string>
            </dict>
            <key>streak.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,120},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EarthWarrior.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:964589a3f8d1f68af3a86b649e13f14f:52fcdce356b7d041aa4ea9d9cbf4fa38:2c980299c2965206d202675c45588bd0$</string>
            <key>textureFileName</key>
            <string>EarthWarrior.png</string>
        </dict>
    </dict>
</plist>
