<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>H_Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{640,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,90}}</string>
                <key>sourceSize</key>
                <string>{640,90}</string>
            </dict>
            <key>V_Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,960}}</string>
                <key>sourceSize</key>
                <string>{40,960}</string>
            </dict>
            <key>flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,336},{110,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,103}}</string>
                <key>sourceSize</key>
                <string>{110,103}</string>
            </dict>
            <key>gameover_backtomenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,103},{232,93}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,93}}</string>
                <key>sourceSize</key>
                <string>{234,95}</string>
            </dict>
            <key>gameover_playagain.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,103},{231,93}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{231,93}}</string>
                <key>sourceSize</key>
                <string>{247,95}</string>
            </dict>
            <key>gameover_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,44},{250,57}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{250,57}}</string>
                <key>sourceSize</key>
                <string>{260,61}</string>
            </dict>
            <key>gameover_score_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{456,334}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{456,334}}</string>
                <key>sourceSize</key>
                <string>{480,374}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameover.png</string>
            <key>size</key>
            <string>{964,472}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11f2668da9d0917be2363861ecec2d64:e8003d57058ca2add3fb600b1ef3b73c:18314cdd2091d1ee52f21fb1c615ddab$</string>
            <key>textureFileName</key>
            <string>gameover.png</string>
        </dict>
    </dict>
</plist>
